<!DOCTYPE html>
<html>
    <head>
        <title>Fastener Inventory App</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <h2 style="text-align: center">Orders Page</h2>
    </body>
</html>
